.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container p {
    font-size: 22px;

}

.cv {
    background: #ffffff59;
    padding: 1em;
    border-radius: 23px;
    margin-top: 5em;
    width: 64%;
}

.cv img {
    border-radius: 11px;
    width: 100%;
}