.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container p {
    font-size: 22px;
}

.perspectiveWrapper {
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

.cv {
  background: #ffffff59;
  padding: 1em;
  border-radius: 23px;
  margin-top: 5em;
  width: 64%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.cv img {
  border-radius: 11px;
  width: 100%;
  display: block;
}

