.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container p {
    font-size: 22px;
}

.container span {
    background: linear-gradient(270deg, #921DE2, #dc7433, #e21d76);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.perspectiveWrapper {
  perspective: 1000px;
  display: flex;
  justify-content: center;
}

.cv {
  background: #ffffff59;
  padding: 1em;
  border-radius: 23px;
  margin-top: 5em;
  width: 64%;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.cv img {
  border-radius: 11px;
  width: 100%;
  display: block;
}

