nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 2em;
  z-index: 9999;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(335deg, #393939, #808080);
  width: 3em;
  height: 3em;
  border-radius: 90px;
  box-shadow: 5px 5px 11px #0000006e;
  transition-duration: 0.4s;
  margin-left: 3px;
}

.round:hover {
  box-shadow: 5px 5px 25px #00000094;
}

.round:hover i {
  color: #202020;
}

.round i {
  font-size: 18px;
  color: #ffffffde;
  transition-duration: 0.2s;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  border-radius: 54px;
  border: solid 1px #ffffffab;
  /* Blur */
  background: linear-gradient(
    135deg,
    #2c2c2c87 0%,
    #3b3b3b8f 50%,
    #4a4a4ade 100%
  );
  backdrop-filter: blur(27px);
}

nav a {
  font-size: 16px;
  color: #c7c7c7;
  padding: 18px 16px;
}

nav a:hover {
  background: #00000036;
}

nav ul li:last-child a {
    background: #121010;
    padding: 15px 33px;
    border-radius: 55px;
    transition-duration: 0.4s;
    margin-right: 4px;
}
nav ul li:last-child a:hover {
  background: white;
  color: black;
}
