@import url("../../styles/_variables.css");
.PenguinWorld {
    width: auto;
    border-radius: 25px;
    margin: 2em 0;
}

.sectionTitle span {
    /* color: var(--color); */
    background: linear-gradient(270deg, #921DE2, #dc7433, #e21d76);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sectionTitle {
    margin: 9em 0;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: linear-gradient(45deg, #2d2d2d, transparent);
    padding: 3em;
    border-radius: 15px;
}

.variable {
    color: #A6EAFE;
}

.line, ul {
    font-size: 17px;
}

.value {
    color: #AE7C66;
}

.list{
    margin: 2em 0;
    list-style-type: disc;
}

li::marker {
    color:var(--color)
}

p{
    font-size: 17px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 58em;
    margin: 3em 0;
}

.role {
    display: flex;
    align-items: center;
}