@import url("../../styles/_variables.css");
.PenguinWorld {
    width: auto;
    border-radius: 25px;
    margin: 2em 0;
}

.sectionTitle {
    margin: 7em 0;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: linear-gradient(45deg, #2d2d2d, transparent);
    padding: 3em;
    border-radius: 15px;
}

.variable {
    color: #A6EAFE;
}

.line, ul {
    font-size: 17px;
}

.value {
    color: #AE7C66;
}

.list{
    margin: 2em 0;
    list-style-type: disc;
}

li::marker {
    color:var(--color)
}

p{
    font-size: 17px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    width: 58em;
    margin: 3em 0;
}

.role {
    display: flex;
    align-items: center;
}
/* Conteneur principal du scroll horizontal */
.horizontalScrollSection {
  padding: 0;
  position: relative;
  height: 100vh;       /* plein écran vertical */
  overflow: hidden;    /* masque le scroll vertical */
}

/* Container des images (galeries) en ligne */
.galeries {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 58vh;
  width: max-content;  /* prend la largeur nécessaire */
}

/* Chaque image pleine largeur écran */
.PenguinWorld {
  flex-shrink: 0;      /* interdit le rétrécissement */
  width: 100vw;        /* largeur = largeur écran */
  height: 70vh!important;       /* hauteur = hauteur écran */
  object-fit: cover;   /* image bien remplie */
  border-radius: 25px; /* si tu veux garder le style */
  margin: 0;           /* margin à 0 pour éviter le décalage */
}

.title {
    margin: 16px 0 58px 0;
}

@media screen and (max-width:1024px) {
    .PenguinWorld {
        width: 10%;
    }
}
