@import url("../../styles/_variables.css");

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 56em;

}

.container, .title {
    gap: 28px;

}

.title {
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.title span {
    /* color: var(--color); */
    background: linear-gradient(270deg, #921DE2, #dc7433, #e21d76);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box {
    display: flex;
    align-items: center;
    border: solid 1px #ffffff69;
    padding: 7px 15px;
    border-radius: 11px;
}

.allBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.box p {
    font-size: 16px;
}

i {
    font-size: 29px;
    margin-right: 14px;
}

@media screen and (max-width:1024px) {
  .container {
    width: auto;
  }
}