.title {
    margin: 14px 0;
}

.theme {
    background: #673ab736;
    padding: 8px 24px;
    border-radius: 44px;
    border: solid 1px #ffffff6b;
    font-size: 19px;
    color: #d597ff;
}

.paragraph {
    font-size: 17px;
    opacity: 39%;
    width: 35em;
}