.aPropos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:1024px) {
  .aPropos  {
    flex-direction: column;
        gap: 6em;
  }
  .card img {
    height: 30em;
    width: 18em;
}
.text-left {
    font-size: 19px;
    flex-wrap: wrap;
}
}