.wrapper {
  /* height: 61vh; */
  overflow: hidden;
  margin: 11em 12em;
}

.paragraph {
  font-size: clamp(2rem, 10vw, 7rem);
  line-height: 1.6;
  margin: 0 auto;
  overflow: hidden;
}

.letter {
  display: inline-block;
  white-space: pre;
  opacity: 0;
  transform: translateY(20px);
}
