@import "./_variables.css";

body {
    background: var(--primary-color);
    color: #fff;
}

h1, h2, h3,h4,h5 {
    font-size: 64px;
    line-height: 73px;
}

.description {
    font-size: 17.6px;
    opacity: 39%;
}

@media screen and (max-width:1024px) {
    h1, h2, h3,h4,h5 {
        font-size: 28px;
    }
}