@import "./_variables.css";

body {
    background: var(--primary-color);
    color: #fff;
}

h1, h2, h3,h4,h5 {
    font-size: 64px;
    line-height: 73px;
}

.description {
    font-size: 17.6px;
    opacity: 39%;
}

.span {
    /* color: var(--color); */
    background: linear-gradient(270deg, #921DE2, #dc7433, #e21d76);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media screen and (max-width:1024px) {
    h1, h2, h3,h4,h5 {
        font-size: 28px;
    }
}